:root{
    --primaryColor: #11009E;
    --backgroundColor: #C4B0FF;
    --primaryAccentColor: #4942E4
    --secondaryColor: #8696FE; 
    --whiteColor: white;
    --blackColor: #222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarheight: 3rem;
}

body{
    background-color: var(--backgroundColor);
    margin: 0;
}

.navbar{
    height: 4rem;
    background-color: #4942e4;
    margin-top: 3rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    width: 60%;
    
}