:root{
    --primaryColor: #11009E;
    --backgroundColor: #B1F1B2;
    --primaryAccentColor: #4942E4
    --secondaryColor: #8696FE; 
    --whiteColor: white;
    --blackColor: #222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarheight: 3rem;
}

body{
    background-color: var(--backgroundColor);
    margin-left: 3rem;
    margin-top: 1rem;
    margin-right: 3rem;
}

.navbar{
    height: 3.2rem;
    background: linear-gradient(90deg, #155674, #60BEB3, #1E757B);
    border-radius: 30px;
    filter: drop-shadow(-4px 4px 10px rgb(55, 55, 55));
    color: var(--backgroundColor);
}

.menuitem{
    margin-left: 30px;
    font-size: 20px;
    height: 3.2rem;
    padding: 14.8px;
}

.menuitemtext{
}

.material-symbols-outlined{
    vertical-align: middle;
}