/* color styling in css */

body{
    background-color: rgb(93, 93, 222);
}

.heading{
    background-color: rgb(214, 4, 4);
}

.para{
    background-color: rgb(10, 213, 145);
}

/* Dimensions */

.box{
    background-color: cyan;
    width: 275px;
    height: 200px;
    font-size: 4em;  /*1em = 16px*/
    text-align: center;
    border-radius:45%;
}

.heading{
    width: 40%;
    height: 50px;
   /* margin: 100px 300px 30px 50px; top right bottom left TRBL
    margin: 100px 200px; Vertical Horizontal
    margin: 30px; margin all*/
    margin-left: 50px;
    padding: 25px;
    text-align: center;
}

.para{
    width: 50%;
    margin: auto;
    text-align: center;
}

img{
    width: 75px;
    height: 75px;
    border: 5px solid #e0aa07;
    border-radius: 50%;
}

div{
    width: 100px;
    height: 100px;
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}