/* Define the Global or Root variables*/

:root{
    --primary-color: #11009E;
    --backgroundColor: #C4B0FF;
    --primaryAccentColor: #4942E4
    --secondaryColor: #8696FE; 
    --whiteColor: white;
    --blackColor: #222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarheight: 3rem;
}

/* Main CSS */
body{
    background-color: var(--backgroundColor);
    color: var(--primary-color);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarheight);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    height: var(--navbarheight);
    padding: 8px 20px;
    width: 7rem;
    align-items: center;
}

.logoImage{
    height: 2rem;
    float: left;
}

.contactImage{
    height: 2rem;
    padding: 8px;
}

.menuItems{
    flex-grow: 2;
}

.menuItem{
    margin-left: 20px;
}