/* Define the Global or Root variables*/

:root{
    --primary-color: #11009E;
    --backgroundColor: #C4B0FF;
    --primaryAccentColor: #4942E4
    --secondaryColor: #8696FE; 
    --whiteColor: white;
    --blackColor: #222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarheight: 3rem;
}

/* Main CSS */
body{
    background-color: var(--backgroundColor);
    color: var(--primary-color);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarheight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 5px 10px grey)
}

.logo{
    display: flex;
    height: var(--navbarheight);
    padding: 8px 20px;
    width: 7rem;
    align-items: center;
}

.logoImage{
    display: flex;
    height: 2rem;
    float: left;
}

.contactImage{
    height: 2rem;
    padding: 8px;
    margin-right: 10px;
    margin-top: 5px;
}

.menuItems{
    flex-grow: 2;
}

.menuItem{
    margin-left: 20px;
}

/* Banner */

.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg,var(--secondaryColor),var(--primaryAccentColor));
    filter: drop-shadow(0px 5px 10px grey); 
    /* justify-content: space-around;
    align-items: center; */
}

.bannerImage{
    height: 300px;
    border-radius: 50%;
}

.bannerLeft{
    flex-grow: 1;
    font-size: xx-large;
}

.bannerRight{
    height: 400px;
}